.wp-block-cover {
    &.is-style-cover-contain-background { 
        .wp-block-cover__image-background {
            object-fit: contain;
        }
    }

    .wp-block-cover__background.has-secondary-background-color {
        background-image: url('./assets/icons/chevrons-yellow.svg'), url('./assets/icons/s-yellow.svg');
        background-position: left bottom, right top;
        background-repeat: no-repeat, no-repeat;
        background-size: auto, auto;
    }
}