.img-white img,
img.img-white {
    filter: brightness(0) invert(1);
    opacity: 0.8;
}

.cuadricula-logos {
    gap: var(--wp--custom--layout--gap-large);

    .wp-block-image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 60px;
            object-fit: contain;
        }
    }

}