input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border-radius: 0;
	border: 0;
	color: var(--wp--preset--color--foreground);
	background-color: transparent;
	line-height: 1;
	padding: 12px var(--wp--preset--spacing--10);
	width: 100%;
	max-height: 3rem;
	border-bottom: 1px solid;

	&:focus {
		//outline-color: var(--wp--preset--color--accent);
	}

	&::placeholder {
		color: inherit;
		opacity: 1; /* Firefox */
		font-style: italic;
	}
	  
	&::-ms-input-placeholder { /* Edge 12 -18 */
		color: inherit;
	}

}

select {
	border-radius: var(--wp--custom--border-radius--rounded);
	border: 2px solid;
	padding: 7px var(--wp--preset--spacing--10);
}

textarea {
	width: 100%;
}

button[type="submit"], input[type="submit"] {
	background-color: var(--wp--preset--color--secondary);
	border-radius: var(--wp--custom--border-radius--05);
	padding: calc(0.667em + 2px) calc(1.333em + 2px);
	color: var(--wp--preset--color--black);
	display: block;
	width: 100%;

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&:after {
		content: '';
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-left: .5rem;
		background-color: currentColor; /* Esto asegura que el color del SVG coincida con el color del texto */
		mask-image: url(./assets/icons/arrow-right.svg);
		mask-size: cover;
		mask-repeat: no-repeat;
		transition: padding-left 0.3s ease;
	}
}