.wpcf7-acceptance .wpcf7-list-item {
	margin: 0;
}

.wpcf7 .is-layout-flex {
	gap: var(--wp--custom--layout--gap-small);

	> * {
		flex: 0 0 calc( 50% - var(--wp--custom--layout--gap-small) / 2 );
	}
}

.wpcf7 .contenido-pagina-wrapper {
	display: none;
}