.wp-block-post-title a {
	text-decoration: none;
}

[class*="has-heading-"][class*="-font-size"] {
    line-height: var(--wp--custom--line-height--tiny);
    font-family: var(--wp--preset--font-family--font-heading);
    font-weight: bold;
}

.has-display-font-size {
    line-height: var(--wp--custom--line-height--tiny);
}

.has-white-background-color {
    color: var(--wp--preset--color--background);
}

.wp-block-group.is-style-pill-paragraph {
    gap: .5em;

    &.is-vertical {
        gap: 1em;
    }
}
p.is-style-pill-paragraph,
.wp-block-group.is-style-pill-paragraph p {
    border: 1px solid;
    border-radius: 1000px;
    padding: .25em var(--wp--preset--spacing--10);
    width: fit-content;
}

label {
    font-size: var(--wp--preset--font-size--small);
}